<%= render 'layouts/navbar' %>
<h1>Movie Lists</h1>
<div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("list_background.jpg") %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<%# <% @lists.each do |list| %>
  <%# <%= link_to 'list', list_path(list) %>
  <%# <%= list.name %>
<%# <% end %>
