<head>
<%= render 'layouts/navbar' %>
</head>
<%= cl_image_tag("Blake_fyemzy",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("kkwlhyh4iskdnphwpdpr",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
 <li>
    <%= link_to 'index', root_path, class:"nav-link" %>
  </li>
  <li>
    <%= link_to 'Create a new list', new_list_path, class:"nav-link" %>
  </li>
<h1>Movie Lists</h1>
<div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 col-sm-6 col-md-4">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("list_background.jpg") %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<%# <% @lists.each do |list| %>
  <%# <%= link_to 'list', list_path(list) %>
  <%# <%= list.name %>
<%# <% end %>
