<%= render 'layouts/navbar' %>
<h1>Here is a list</h1>
  <h1><%= @list.name %></h1>
  <h1><%= @list.id %></h1>

  <% @list.movies.each do |movie| %>
    <%= movie.title %>
    <%= movie.overview %>
  <% end %>
  <%# <h2><%= @movie.title %>
<p><%= link_to 'create a new bookmark', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'delete this list', list_path(@list), method: :delete, class:'btn btn-primary' %></p>
